/ajax

/css/demos
/css/fonts
/css/skins
/css/rtl-theme-blog.css
/css/rtl-theme-elements.css
/css/rtl-theme-shop.css
/css/rtl-theme.css
/css/theme-blog.css
/css/theme-elements.css
/css/theme-shop.css
/css/theme.css


/img/avatars
/img/blog
/img/clients
/img/generic
/img/history
/img/home
/img/icons
/img/landing
/img/logos
/img/office
/img/others
/img/page-header
/img/parallax
/img/patterns
/img/previews
/img/products
/img/projects
/img/slides
/img/team

/js/demos
/js/examples
/js/views
/js/theme.init.js
/js/theme.js

/master
/vendor
/video

